{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -e # exit immediately if any command returns a non-zero exit code
set -f # disable filename expansion (globbing)

export PATH=$PATH:/opt/homebrew/bin

printf "\n🚀 Installing Python on MacOS\n"

brew install python@3.12 pipx
brew unlink python3 && brew link python@3.12 --force
pipx install black
pipx install flake8
pipx install poetry
pipx install pipenv


printf "\n✅ Complete\n"

{{ end -}}
