{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -e # exit immediately if any command returns a non-zero exit code
set -f # disable filename expansion (globbing)

export PATH=$PATH:/opt/homebrew/bin

printf "\n🚀 Installing .NET on MacOS\n"

# brew install dotnet-sdk # sdk
# brew isntall dotnet # runtime

# dotnet tool uninstall --global dotnet-ef || true
# dotnet tool install --global -a arm64 dotnet-ef  || true

# dotnet tool uninstall --global dotnet-aspnet-codegenerator || true
# dotnet tool install --global -a arm64 dotnet-aspnet-codegenerator || true

# dotnet tool uninstall --global dotnet-svcutil || true
# dotnet tool install --global -a arm64 powershell || true

# dotnet tool uninstall --global Microsoft.Web.LibraryManager.Cli || true
# dotnet tool install --global -a arm64 Microsoft.Web.LibraryManager.Cli || true

printf "\n✅ Complete\n"

{{ end -}}