{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -e # exit immediately if any command returns a non-zero exit code
set -f # disable filename expansion (globbing)

export PATH=$PATH:/opt/homebrew/bin
BREW_PREFIX=$(brew --prefix)

printf "\n🚀 Installing NodeJS and Bun on MacOS\n"

brew install node@18
export PATH="$PATH:${BREW_PREFIX}/opt/node@18/bin"

brew tap oven-sh/bun
brew install bun

bun install -g nodemon
bun install -g json-server

printf "\n✅ Complete\n"

{{ end -}}
