{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -e # exit immediately if any command returns a non-zero exit code
set -f # disable filename expansion (globbing)

export PATH=$PATH:/opt/homebrew/bin

printf "\n🚀 Installing infra tools on MacOS\n"
brew tap hashicorp/tap
brew install hashicorp/tap/terraform
pipx install --include-deps ansible

printf "\n✅ Complete\n"

{{ end -}}