{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -e # exit immediately if any command returns a non-zero exit code
set -f # disable filename expansion (globbing)

export PATH=$PATH:/opt/homebrew/bin

printf "\n🚀 Installing Golang on MacOS\n"

export GOPATH="$HOME/.go"
brew install go
go install github.com/cosmtrek/air@latest

printf "\n✅ Complete\n"

{{ end -}}