{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -e # exit immediately if any command returns a non-zero exit code
set -f # disable filename expansion (globbing)

printf "\n🚀 Installing Software Packages for a Darwin-based OS\n"

# Install Developer Tools
xcode-select --install 2>/dev/null || true

# Install Homebrew
PATH=$PATH:/opt/homebrew/bin
printf "\n🚀 Installing homebrew\n"

if which brew >/dev/null; then
    printf "\nHomebrew is installed already.\n"
else
    sudo mkdir -p /opt/homebrew || true
    sudo chown -R "$(whoami)":wheel /opt/homebrew
    curl -L https://github.com/Homebrew/brew/tarball/master | tar xz --strip 1 -C /opt/homebrew
    eval "$(/opt/homebrew/bin/brew shellenv)"
    printf "\nHomebrew installed successfully.\n"
fi

# Install Homebrew Packages
printf "\n🚀 Installing homebrew packages\n"

BREW_PREFIX=$(brew --prefix)

# Standard Apps
brew install --cask \
brave-browser \
firefox \
bitwarden \
spotify \
appcleaner \
visual-studio-code \
alfred \
drawio \
dash \
iterm2 \
obs \
grammarly-desktop \
jetbrains-toolbox \
privatevpn \
selfcontrol \
vlc \
piezo \
obsidian

brew install \
dive \
calibre \
devutils

# CLI
brew tap aws/tap
brew install \
gh \
azure-cli \
awscli \
kubectl \
helm \
derailed/k9s/k9s \
aws-sam-cli

# Infrastructure
brew install \
pulumi \
terraform \
terragrunt \
terraform-docs \
terrascan \
trivy

# Containers
brew install --cask docker

# # .NET
# brew install dotnet-sdk # sdk
# brew isntall dotnet # runtime

# dotnet tool uninstall --global dotnet-ef || true
# dotnet tool install --global -a arm64 dotnet-ef  || true

# dotnet tool uninstall --global dotnet-aspnet-codegenerator || true
# dotnet tool install --global -a arm64 dotnet-aspnet-codegenerator || true

# dotnet tool uninstall --global dotnet-svcutil || true
# dotnet tool install --global -a arm64 powershell || true

# dotnet tool uninstall --global Microsoft.Web.LibraryManager.Cli || true
# dotnet tool install --global -a arm64 Microsoft.Web.LibraryManager.Cli || true

# Python
brew install python@3.11 pipenv pipx poetry # Python and friends
python3 --version | grep 3.10 && brew unlink python3 && brew link python@3.11 --force

# Go
brew install go
go install github.com/cosmtrek/air@latest

# NodeJS
brew install node@18
npm install -g nodemon
npm install -g json-server
npm install -g @bitwarden/cli

# Other Tools
brew install coreutils
ln -s "${BREW_PREFIX}/bin/gsha256sum" "${BREW_PREFIX}/bin/sha256sum" || true
brew install moreutils \
findutils \
gnu-sed \
gnu-tar \
grep \
openssh \
ack \
git \
git-lfs \
jq \
yq \
htop \
pv \
tree \
wget \
tmux \
hey \
mtr \
hugo

# Fonts
brew tap homebrew/cask-fonts
brew install --cask \
font-roboto-mono-nerd-font \
font-ubuntu-nerd-font \
font-jetbrains-mono-nerd-font

printf "\n✅ Complete\n"

{{ end -}}
